/* Color */
.c-red {color: #c71414;}
.c-white1 {color: #dbdbdb;}
.c-white2 {color: #d1d1d1;}

/* Font Size */
.fs2r {font-size: 2rem;} 
.fs-smr {font-size: smaller;}
.fs-100p {font-size: 105%;}


/* Height */
.h-3r {height: 3.5rem;}
.h-4r {height: 4.5rem;}

/* Border Color */
.bd-red {border: 1px solid #830a0a79;}
.bdt-grey {border-top: 1px solid #0e0e0e;}


/* Background Color */
.bg-red1 {background-color: #530707ad;}
.bg-red2 {background-color: #7a0707;}
.bg-grey {background-color: #050505;}


/* Letter Spacing */
.lt-s1 {letter-spacing: 1px;}