.section_inicio {
    padding: 10% 0;
}

.text_section_inicio {
    padding: 2%;
}

.text_section_inicio h1 {
    font-weight: 700;
    color: #a7a7a7;
    font-size: 30px;
    margin-bottom: 7%;
    letter-spacing: 1.2px;
}

.text_section_inicio h2 {
    color: #818181c7;
    font-size: 85px;
    font-weight: 900;
    margin: auto;
    padding-bottom: 1rem;
    margin-bottom: 15px;
}


@media screen and (max-width: 768px) {
    .text_section_inicio {
        padding: 5%;
        text-align: center;
    }

    .text_section_inicio h2 {
        font-size: 65px;
    }

    .text_section_inicio h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 575px){
    .text_section_inicio h2 {
        font-size: 55px;
    }

    .text_section_inicio h1 {
        font-size: 20px;
    }

}

@media screen and (max-width: 375px){
    .text_section_inicio h2 {
        font-size: 45px;
    }

    .text_section_inicio h1 {
        font-size: 20px;
    }

}