* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
    transition: all 200ms ease-in;
}

body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
}

body hr {
    width: 100%;
    color: #e00909a1;
    margin: 0;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(0deg, #55030383, #771616f3, #5503038f);
    border-radius: 10px;
}

/*-----HEADER/NAVBAR------*/

.header_style {
    background-color: #000000;
    box-shadow: 0px 7px 9px -6px rgba(0, 0, 0, .3);
    position: sticky;
    z-index: 100;
    top: 0;
}


.header_navbar_wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: .7rem 0;
}


.navbar_style {
    display: inline-flex;
    gap: 2rem;
    padding: 0;
}

.nav_link {
    position: relative;
}

.nav_link {
    color: #c50808;
    font-weight: 700;
    font-size: 1.1rem;
}

.nav_link::before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #ce0404;
    transform: scaleX(0);
    transition: .3s ease;
}

.nav_link:hover::before,
.btn_menu:hover {
    transform: scaleX(1);
    color: #ff0000;
}

.linha_btn {
    display: none;
    width: 28px;
    height: 3px;
    background-color: #ce0404;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
}

button.ativar .linha_btn:nth-child(1) {
    transform: translateY(7px) rotate(-45deg);
}

button.ativar .linha_btn:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
}

button.ativar .linha_btn:nth-child(2) {
    width: 0;
}


#logo_style {
    z-index: 10;
    width: 180px;
}

.logo_style {
    margin-right: 30px;
    width: 250px;
    height: 150px;
}


.mobile_menu_view {
    position: absolute;
    background-color: #000;
    background-image: linear-gradient(0deg, #000000 50%, #1a07078a);
    box-shadow: 0 3px 6px #00000062;
    right: 0;
    top: 118px;
    width: 100%;
    padding: 3rem 1rem;
    transform: translateY(-150%);
    transition: all .2s ease-in;
    border-radius: 0 0 5px 5px;
}


.mobile_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.3rem;
    padding: 0 2rem;
}

.expand_menu {
    transform: translateY(0);
    transition: all .2s ease-in-out;
}

/*------SECTIONS-----*/

.section_style {
    background-image: linear-gradient(0deg, #000000ad, #44030325, #000000ad), url(/imgs-icons/backgroundImages/backgroundimage1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.style_sections {
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section_divider {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 30px;
    color: #a11010;
}

.section_divider h3 {
    font-size: 50px;
}


/*----------HERO-SECTION-----------*/

.section_inicio {
    padding-bottom: 15%;
}

.text_section_inicio {
    position: relative;
    padding: 2%;
}

.text_section_inicio h1 {
    font-weight: 700;
    color: #a7a7a7;
    font-size: 30px;
    margin-bottom: 7%;
    letter-spacing: 1.2px;
}

.text_section_inicio h2 {
    color: #818181c7;
    font-size: 85px;
    font-weight: 900;
    margin: auto;
    padding-bottom: 1rem;
    margin-bottom: 15px;
}

.style_button {
    transition: all .10s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #0000006c;
    border-radius: 5px;

    gap: .8rem;
    height: 4.5rem;
    font-size: 1.5rem;
    padding: 0 1.6rem;
    background-color: #7e1717;
    color: #adadad;
    font-weight: 800;
}

.style_button:hover {
    background-color: #af1515;
    color: #c9c9c9;
    transform: scale(1.1);
    transition: all .3s ease;
}

/*------ABOUT-US-------*/

.title_section_sobre {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}


.title_section_sobre h2 {
    color: #ffffffcb;
    font-size: 30px;
    font-weight: 700;
    margin-right: auto;
}

.text_section_sobre h1 {
    line-height: 2.5rem;
    text-align: left;
    font-weight: 600;
    color: #a7a7a7;
    font-size: 23px;
    letter-spacing: 1px;
}

.section_sobre_items {
    display: flex;
    justify-content: center;
    padding: 0 0 4rem;
}

.items_child_sobre {
    background-color: #00000081;
    border: 2px solid rgba(131, 10, 10, 0.473);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    width: 27%;
    padding: 1rem 2rem 2rem;
}

.items_child_sobre:hover {
    transform: scale(1.05);
    transition: all .2s ease;
    box-shadow: 0px 7px 9px 6px rgba(0, 0, 0, 0.589);
}


.items_child_sobre h2 {
    color: #ffffff;
    font-weight: 700;
}

.items_child_sobre p {
    color: #dbdbdb;
    font-size: large;
    margin: 0;
}