* {
    margin: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
}

body p {
    color: #d4d4d4;
    margin: 0;
}

body h1,
body h2 {
    color: #dbdbdb;
    font-weight: 800;
}

body h3,
body h4 {
    color: #ececec;
    font-weight: 800;
}

body hr {
    width: 100%;
    color: #e00909a1;
    margin: 0;
}

body h5 {
    color: #dbdbdb;
    font-size: large;
    font-weight: 700;
    margin-bottom: 0;
}

label {
    color: #dbdbdb;
}


::-webkit-scrollbar {
    width: 7px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(0deg, #55030383, #771616f3, #5503038f);
    border-radius: 10px;
}


.items_box {
    display: flex;
    justify-content: space-between;
    padding: 0 0 4rem 0;
}

.items_child{
    background-color: #00000081;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    padding: 1rem 2rem 2rem;
}


/*------SECTIONS-----*/

.section_style {
    background-image: linear-gradient(0deg, #000000ad, #44030325, #000000ad), url(../imgs-icons/backgroundImages/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.style_sections {
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section_divider {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
}

.section_divider h3 {
    font-size: 50px;
    color: #a11010;
}

.section_wrapper {
    background-color: #0000007a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem 0;
}


/*-----CONTACT-BUTTON-----*/

.contact_icon {
    min-width: 55px;
    background-color: #12d312;
    border-radius: 50%;
    position: fixed;
    right: 1.2rem;
    bottom: 1.2rem;
    opacity: 80%;
}

.contact_icon:hover {
    transform: scale(1.1);
    background-color: #1da51d;
    transition: all .3s ease;
}

/*----BACK-TO-TOP-BUTTON----*/

.back_top:hover {
    color: #e70000;
    transition: all .3s ease;
}

.back_top {
    color: #f5f5f5;
    min-width: 30px;
    position: fixed;
    right: 2rem;
    bottom: 5.5rem;

    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    z-index: 2;
}

.back_top.active {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}


