.about_section_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.text_section_about p {
    padding-bottom: 5%;
    line-height: 2.5rem;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
    .about_section_wrapper {
        text-align: center;
        width: 95%;
        gap: 3rem;
    }
}

@media screen and (max-width: 375px) {

    .text_section_sobre p {
        font-size: 18px;
    }

}