/* Padding */
.py-8r {padding: 7rem 10px;}
.ps-2r {padding-left: 1.8rem;}
.pt-7r {padding-top: 7rem;}
.pb-7r {padding-bottom: 7rem;}

/* Margin */
.mb-5r {margin-bottom: 5rem;}
.mb-4r {margin-bottom: 4rem;}


/* Color */
.c-red {color: #c71414;}
.c-white1 {color: #dbdbdb;}
.c-white2 {color: #d1d1d1;}


/* Gap */
.gap-5r {gap: 5rem;}


/* Font Weight */
.fw7 {font-weight: 700;}


/* Font Size */
.fs2r {font-size: 2.5rem;} 
.fs-smr {font-size: smaller;}
.fs-100p {font-size: 105%;}


/* Height */
.h-3r {height: 3.5rem;}
.h-4r {height: 4.5rem;}


/* Width */
.w-22pc {min-width: 22pc;}

/* Border Color */
.bd-red {border: 1px solid #830a0a79;}
.bdt-grey {border-top: 1px solid #0e0e0e;}


/* Background Color */
.bg-red1 {background-color: #530707ad;}
.bg-red2 {background-color: #7a0707;}
.bg-grey {background-color: #050505;}


/* Text Decoration */
.txtd-none {text-decoration: none;}


/* Letter Spacing */
.lt-s1 {letter-spacing: 1px;}