/* Padding */
.py-10p {padding: 10% 0;}
.py-8r {padding: 8rem 10px;}
.px-2r {padding: 0 2rem;}
.ps-2r {padding-left: 2rem;}


/* Margin */
.mb-5r {margin-bottom: 5rem;}
.mb-4r {margin-bottom: 4rem;}


/* Color */
.c-red1 {color: #c50808;}
.c-red2 {color: #a11010;}
.c-white1 {color: #d4d4d4;}
.c-white2 {color: #dbdbdb;}
.c-grey {color: #adadad;}
.c-grey1 {color: #d8d8d883}
.c-grey2 {color: #cecece;}


/* Gap */
.gap-5r {gap: 5rem;}


/* Font Weight */
.fw8 {font-weight: 800;}
.fw7 {font-weight: 700;}


/* Font Size */
.fs2r {font-size: 2.5rem;} 
.fs-smr {font-size: smaller;}
.fs-100p {font-size: 100%;}


/* Height */
.h-3r {height: 3rem;}
.h-5r {height: 5rem;}


/* Border Color */
.bd-red {border: 1px solid #830a0a79;}
.bdt-grey {border-top: 1px solid #0e0e0e;}


/* Background Color */
.bg-red0 {background-color: #530707ad;}
.bg-red1 {background-color: #7e1717;}
.bg-red2 {background-color: #490505;}


/* Text Decoration */
.txtd-none {text-decoration: none;}


/* Letter Spacing */
.lt-s1 {letter-spacing: 1px;}
.lt-s4 {letter-spacing: 4px;}

/* Rotate */
.rotate-15 {transform: rotate(15deg);}