.header_style {
    background-color: #000000;
    box-shadow: 0px 7px 9px -6px rgba(0, 0, 0, .3);
    position: sticky;
    z-index: 100;
    top: 0;
}

.navbar_links {
    display: inline-flex;
    gap: 2rem;
}

.nav_link {
    position: relative;
    font-weight: 700;
    font-size: 1.1rem;
}

.nav_link::before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #ce0404;
    transform: scaleX(0);
    transition: .3s ease;
}

.nav_link:hover::before {
    transform: scaleX(1);
    color: #ff0000;
}


.linha_btn {
    display: none;
    width: 28px;
    height: 3px;
    background-color: #ce0404;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
    transition: all 200ms ease;
}

button.ativar .linha_btn:nth-child(1) {
    transform: translateY(7px) rotate(-45deg);
}

button.ativar .linha_btn:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
}

button.ativar .linha_btn:nth-child(2) {
    width: 0;
}


.mobile_menu_view {
    position: absolute;
    background-image: linear-gradient(0deg, #000000 75%, #1a07078a);
    box-shadow: 0 3px 6px #00000062;
    width: 100%;
    padding: 3rem 1rem;
    transform: translateY(-150%);
    transition: all .2s ease-in;
    border-radius: 0 0 5px 5px;
}

.expand_menu {  
    position: absolute;
    transform: translateY(0);
    transition: all .2s ease-in-out;
}


@media screen and (max-width: 991px) {

    .linha_btn {
        display: block;
    }

    .header_style {
        position: relative;
        box-shadow: none;
        border-bottom: 2px solid #f00;
    }

    .navbar_links {
        display: none;
        opacity: 0;
        transition: all .5s ease-in;
    }
}