.title-hero-section {
    color: #818181c7;
    font-size: 5rem;
    font-weight: 900;
}

.subtitle-hero-section {
    font-weight: 700;
    color: #a7a7a7;
    font-size: 2rem;
    margin-bottom: 7%;
    letter-spacing: 1.2px;
}


@media screen and (max-width: 768px) {

    .title-hero-section {
        font-size: 4rem;
    }

    .subtitle-hero-section {
        font-size: 2rem;
    }
}

@media screen and (max-width: 575px) {
    .title-hero-section {
        font-size: 3.2rem;
    }

    .subtitle-hero-section {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 375px) {
    .title-hero-section {
        font-size: 2.5rem;
    }

    .subtitle-hero-section{
        font-size: 1.2rem;
    }

}