* {
    margin: 0;
    box-sizing: border-box;
}

body * {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 7px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(0deg, #55030383, #771616f3, #5503038f);
    border-radius: 10px;
}


/* Buttons Hover */

.btn-hover:hover {
    background-color: #c71414;
    color: #c9c9c9;
    transform: scale(1.01);
    transition: all .3s ease;
}

/*  Background Sections  */

.background {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-0 {
    background-image: linear-gradient(0deg, #000000, #000000b4, #000000), url(../imgs-icons/backgroundImages/backgroundimage.webp);

}
.bg-1 {
    background-image: linear-gradient(0deg, #000000, #00000041, #000000), url(../imgs-icons/backgroundImages/backgroundimage1.webp);
}

.bg-2 {
    background-image: linear-gradient(0deg, #000000, #000000bb, #000000), url(../imgs-icons/backgroundImages/backgroundimage2.webp);
}

.bg-3 {
    background-image: linear-gradient(0deg, #000000, #0000009c, #000000), url(../imgs-icons/backgroundImages/backgroundimage3.webp);
}



/* Header Navbar */

.header-position {
    box-shadow: 5px 7px 10px -6px rgb(0, 0, 0);
    position: sticky;
}

.nav_link {
    position: relative;
}

.nav_link::before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #c71414;
    transform: scaleX(0);
    transition: .3s ease;
}

.nav_link:hover::before {
    transform: scaleX(1);
}

.linha_btn {
    width: 28px;
    height: 3px;
    background-color: #c71414;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
    transition: all 200ms ease;
}

button.ativar .linha_btn:nth-child(1) {
    transform: translateY(7px) rotate(-45deg);
}

button.ativar .linha_btn:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
}

button.ativar .linha_btn:nth-child(2) {
    width: 0;
}

.mobile_menu_view {
    box-shadow: 0 3px 6px #00000062;
    transform: translateX(-150%);
    transition: all .2s ease-in;
    width: 350px;
}

.expand_menu {
    transform: translateX(0);
    transition: all .2s ease-in-out;
}

.menu-items li:hover{
    background-color: #2e2e2e2f;
}

.menu-items li a{
    line-height: 120%;
    width: 100%;
    display: inline-block;
}

.menu-items {
    visibility: hidden;
    top: 100%;
    transition-delay: .2s;
    z-index: -1;
}

.menu-items-mobile{
    opacity: 0;
    display: none;
    transition-delay: .2s;
}

.expand-dropmenu {
    opacity: 1;
    display: block;
    visibility: visible;
    transition-delay: .2s;
}

.caret-icon {
    transition: all .1s linear;
}

.rotate-up {
    transform: rotate(180deg);
}

/* Products */

#seloPosition {
    position: absolute;
    right: 15%;
}

.img_hover {
    position: absolute;
    inset: 0 0 0 0;
    opacity: 0;
    transition: all .4s ease;
}

.img_hover:hover {
    opacity: 1;
}


/* Form */

.form-control {
    padding: 10px 10px;
}

textarea.form-control {
    resize: none;
}

.form-control:focus {
    border-color: #771616f3;
    box-shadow: 0 1px 15px 3px #771616f3;
}

form button:hover {
    background-color: #af1515;
    color: #c9c9c9;
    transform: scale(.95);
    transition: all .5s ease;
}

form button:disabled {
    cursor: not-allowed;
    background-color: #525252;
    transform: scale(1);
    color: #adadad;
}

/*  Button Back To Top  */

.back_top {
    color: #f5f5f5;
    min-width: 40px;
    right: 1.6rem;
    bottom: 5.9rem;

    opacity: 0;
    transition: all .3s ease;
    z-index: 100;
    transition: all .3s ease;
}

.back_top:hover {
    scale: 1.1;
    color: #a11010;

}

.back_top.active {
    visibility: visible;
    opacity: 1;
}

/*  Contact Button  */

.contact_icon {
    min-width: 55px;
    background-color: #12d312;
    border-radius: 50%;
    right: 1rem;
    bottom: 1rem;
    opacity: 80%;
}

.contact_icon:hover {
    transform: scale(1.1);
    background-color: #1da51d;
    transition: all .3s ease;
}


/* Footer */

.icon_link:hover {
    scale: 1.1;
    color: #fff;
}

/* Responsivity */

@media screen and (max-width: 991px) {

    .py-8r {padding: 6rem 10px 0;}
    .pt-7r {padding-top: 6rem;}
    .pb-7r {padding-bottom: 6rem;}

    /* Header Navbar */
    .header-position {
        border-bottom: 1px solid #f00;
    }
}

@media screen and (max-width: 768px) {
    #seloPosition {
        position: relative;
        right: 0;
    }
}

@media screen and (max-width: 574px) {
    .h-img-sm {
        min-height: 150px;
    }

    .mobile_menu_view {
        width: 280px;
    }
}
